[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
Django = "*"
Pillow = "*"
django-rest-framework = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
