{% extends "base.html" %}

{% block content %}
    <div style="font-size: 24px;margin-bottom: 40px;padding-top: 40px;">Cart Contents</div>
    {% if cart.total %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Title</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for cart_product in cart_products %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{{ cart_product.get_absolute_url }}">{{ cart_product.title }}</a></td>
      <td>{{ cart_product.price }}</td>
    </tr>
{% endfor %}


  </tbody>
</table>
    {% endif %}
    <div> Cart Total: {{ cart.total }} </div>
    {% if cart.total > 0 %}
    <button class="btn btn-primary" onclick="placeOrder = () => {
         fetch('/place-order')
                  .then(res => res.json())
                  .then((res) => {
                      console.log('Response from Backend Server: ', res);
                      alert('Your Order has been received and is under processing!')
                      window.location.replace('/');
                  })
    }
    placeOrder()"> Finalize Order</button>
    {% endif %}
{% endblock %}